/* Btn categorias*/

.btn-categorias {
  margin: 0 auto;
  margin-top: 20px;
  width: 90%;
}

.btns-filtro {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.btns-filtro button {
  box-shadow: -2px 2px 15px var(--sombra-tarjetas);
  font-size: 1.2em;
  font-weight: bold;
}

.btns-filtro button:hover {
  cursor: pointer;
  border: 2px solid var(--border-active-focus);
}
.btns-filtro button:focus-within {
  color: var(--numeros-letras-primario);
  background-color: var(--background-cards);
}

.btns-filtro button:active {
  border: 1px solid var(--border-active-focus);
}
