:root {
  --numeros-letras-gris: #96979c;
  --background-cards: #f0f3fa;
  --social-user: #848487;
  --sombra-tarjetas: #38c9e5;
  --header-background: #f9f9f9;
  --github-color: #111521;
  --numeros-letras-primario: #000;
  --body-background: #fff;
  --border-active-focus: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body {
  background-color: var(--body-background);
}

.animate__fadeInUp {
  animation-duration: 1050ms;
}

/* Media queries */

@media screen and (min-width: 430px) {
  .cards-products {
    grid-template-columns: 1fr 1fr;
    width: 90%;
  }
  .MuiToolbar-regular {
    flex-direction: row;
    justify-content: space-around;
  }
  .header-navbar__buttons {
    justify-content: space-evenly;
    width: 40%;
  }
}

@media screen and (min-width: 770px) {
  .cards-products {
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 2em;
    width: 100%;
  }
  .btns-filtro {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2em;
    grid-row-gap: 1em;
  }
  .header-navbar__buttons {
    width: 20%;
  }
}

@media screen and (min-width: 1200px) {
  .cards-products {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 4em;
    width: 90%;
  }
}

/* Dark Mode */

@media (prefers-color-scheme: dark) {
  :root {
    --followers-cards: #96979c;
    --background-cards: #252b43;
    --header-background: #272d43;
    --numeros-letras-primario: #f9f9f9;
    --body-background: #2d3556;
    --social-user: #c2c2f2;
    --sombra-tarjetas: #00a2f1;
    --border-active-focus: #fff;
  }
  .MuiToolbar-regular {
    box-shadow: -2px 5px 25px var(--sombra-tarjetas);
  }
}
