:root {
  --numeros-letras-gris: #96979c;
  --background-cards: #f0f3fa;
  --social-user: #848487;
  --sombra-tarjetas: #38c9e5;
  --header-background: #f9f9f9;
  --github-color: #111521;
  --numeros-letras-primario: #000;
  --body-background: #fff;
  --border-active-focus: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body {
  top: 0 !important;
  background-color: var(--body-background);
  min-height: 100vh;
}
.goog-te-banner-frame {
  display: none;
}

.animate__fadeInUp {
  animation-duration: 1050ms;
}
.carousel {
  max-height: 80vh;
}

/* Media queries */

@media screen and (min-width: 430px) {
  .cards-products {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .MuiToolbar-regular {
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
  }

  .MuiToolbar-regular h3 {
    text-align: center;
    justify-content: center;
  }

  .header-navbar__buttons {
    justify-content: flex-end !important;
    width: 100%;
  }
  .card-vacio {
    width: 500px !important;
  }
  .eco-whats {
    margin-top: 0;
  }
  .footer-content {
    bottom: 0;
    margin-top: 10vh;
  }
}

@media screen and (min-width: 770px) {
  .cards-products {
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }
  .btns-filtro {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 3em;
  }
  .header-navbar__buttons {
    width: 20%;
  }
  .carousel {
    max-height: 50vh;
  }
  .title-pagecart {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    align-self: center;
    text-align: center;
  }
  .formulario {
    width: 500px;
    margin: 80px auto;
    margin-bottom: 50px;
  }

  .whats {
    margin-left: 10px;
    display: inline-block;
  }
  .makeStyles-paper-11 {
    min-height: 50vh !important;
  }
  .makeStyles-paper-16 {
    min-height: 50vh !important;
  }
}

@media screen and (min-width: 1200px) {
  .cards-products {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 90%;
  }
  .footer-content {
    bottom: 0;
    justify-content: center;
    padding-bottom: 0;
    margin-bottom: 0;
    position: relative;
  }
}

/* Dark Mode */

@media (prefers-color-scheme: dark) {
  :root {
    --followers-cards: #96979c;
    --background-cards: #252b43;
    --header-background: #272d43;
    --numeros-letras-primario: #f9f9f9;
    --body-background: #2d3556;
    --social-user: #c2c2f2;
    --sombra-tarjetas: #00a2f1;
    --border-active-focus: #fff;
  }
  .MuiToolbar-regular {
    box-shadow: 0px 1px 5px 2px var(--sombra-tarjetas);
  }

  .MuiSvgIcon-colorPrimary {
    color: #2f58fc !important;
  }
  .MuiCardActions-root button:hover,
  .MuiCardActions-root button:focus {
    background-color: var(--numeros-letras-primario);
    /* background-color: var(--sombra-tarjetas); */
  }
}
