.form-content {
  align-items: center;
  background-color: var(--background-cards);
  border-radius: 30px;
  box-shadow: 0 4px 8px var(--sombra-tarjetas);
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 30px;
  width: 100%;
}

.form-title {
  margin-top: 20px;
  color: var(--numeros-letras-primario);
}

.form-control {
  margin: 20px 0 auto;
  width: 90%;
}
.content-buttons {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.text-copy {
  color: var(--numeros-letras-primario);
  cursor: pointer;
  margin-left: 10px;
  text-decoration: none;
}
